<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.vilya.maia.cms.repository.LoginInfoRepository">
	<resultMap id="BaseResultMap" type="io.vilya.maia.cms.entity.LoginInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="usr" jdbcType="VARCHAR" property="usr" />
		<result column="pwd" jdbcType="VARCHAR" property="pwd" />
		<result column="secret" jdbcType="VARCHAR" property="secret" />
		<result column="login_url" jdbcType="VARCHAR" property="loginUrl" />
	</resultMap>

	<sql id="Base_Column_List">
		id, usr, pwd, secret, login_url
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_info
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from login_info
		where id = #{id,jdbcType=INTEGER}
	</delete>
	
	<insert id="insert" parameterType="io.vilya.maia.jdbc.entity.LoginInfo">
		insert into login_info (id, usr, pwd,
		secret, login_url)
		values (#{id,jdbcType=INTEGER}, #{usr,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
		#{secret,jdbcType=VARCHAR}, #{loginUrl,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSelective" parameterType="io.vilya.maia.jdbc.entity.LoginInfo">
		insert into login_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="usr != null">
				usr,
			</if>
			<if test="pwd != null">
				pwd,
			</if>
			<if test="secret != null">
				secret,
			</if>
			<if test="loginUrl != null">
				login_url,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="usr != null">
				#{usr,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				#{pwd,jdbcType=VARCHAR},
			</if>
			<if test="secret != null">
				#{secret,jdbcType=VARCHAR},
			</if>
			<if test="loginUrl != null">
				#{loginUrl,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="io.vilya.maia.jdbc.entity.LoginInfo">
		update login_info
		<set>
			<if test="usr != null">
				usr = #{usr,jdbcType=VARCHAR},
			</if>
			<if test="pwd != null">
				pwd = #{pwd,jdbcType=VARCHAR},
			</if>
			<if test="secret != null">
				secret = #{secret,jdbcType=VARCHAR},
			</if>
			<if test="loginUrl != null">
				login_url = #{loginUrl,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="io.vilya.maia.jdbc.entity.LoginInfo">
		update login_info
		set usr = #{usr,jdbcType=VARCHAR},
		pwd = #{pwd,jdbcType=VARCHAR},
		secret = #{secret,jdbcType=VARCHAR},
		login_url = #{loginUrl,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>